<a href="https://colab.research.google.com/github/comsihyun/SM10/blob/master/ch03/ch03_04_for_iteratas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# ch3_04_for_iterates.py

In [0]:

############################
print("for 문과 itrator")
############################

In [0]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
#
print("과목명 출력")
for subject in subjects:
    print(subject)


#
print("과목 점수 출력")
for score in scores:
    print(score)


#
print("enumerate()를 이용한 출력")
for position, subject in enumerate(subjects):
    print(position,subject)


#
for position, subject in enumerate(subjects):
    print(subjects[position])


#
print("enumerate()를 이용하여 점수를 출력해보시오.")
#
#

과목명 출력
python
english
math
science
과목 점수 출력
88
77
66
95
enumerate()를 이용한 출력
0 python
1 english
2 math
3 science
python
english
math
science
enumerate()를 이용하여 점수를 출력해보시오.

In [0]:

############################
print("for 문과 itrator의 응용: 복합 문자열 리스트")
############################
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
# Method-1
for position in range(len(subjects)):
    subject = subjects[position]
    score = scores[position]
    print(subject, score)


# Method-2
for position, subject in enumerate(subjects):
    score = scores[position]
    print(subject, score)



# Method-3
for subject, score in zip(subjects, scores):
    print(subject, score)

for 문과 itrator의 응용: 복합 문자열 리스트
python 88
english 77
math 66
science 95
python 88
english 77
math 66
science 95
python 88
english 77
math 66
science 95

In [0]:

# 응용 코드 : 평균 성적을 구하시오.
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]

average = 0
total = 0
for subject, score in zip(subjects, scores):
    total += score
    print(subject, score)

print("평균 점수 = {0}".format(total/len(subjects)))

# Cool! 

#"""
#Author: redwoods
#파이썬 코드: ch3_04_for_iterates.py
#"""

python 88
english 77
math 66
science 95
평균 점수 = 81.5